[[redirects]]
  from = "/api/*"
  to = "https://twitterclonedevtown.herokuapp.com/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
    for = "/api/*"
    [headers.values]
        Access-Control-Allow-Origin = "*"